body {
    background-image: url("javascript-vector-technology-abstract-hd-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: 0;
  }
  
.content {
    margin-top: 54px;
    }
    .header {
        padding: 15px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #007bff; /* Adjust the background color of the header as per your preference */
        color: white;
    }
    .container-fluid{
        background-color:rgba(182, 196, 191, 0.774);
        margin-top: 20px;
        max-width: 320px;
        align-items: center;
        outline-color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
#nameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #nameForm button {
    margin-top: 10px;
  }
  
    h4{
        font-style: italic;
        outline-color: antiquewhite;
        background-color: rgba(141, 190, 199, 0.795);
        margin-top: 20px;
        max-width: 620px;
    }
    .left-title {
    width: 80px;
    color: white;
    font-size: 18px;
    float: left;
    }
    .right-title {
    width: 150px;
    text-align: right;
    float: right;
    color: whitesmoke;
    }
    .quiz-body {
    margin-top: 15px;
    padding-bottom: 50px;
    }
    .option-block-container {
    margin-top: 20px;
    max-width: 420px;
    }
    .option-block {
    padding: 10px;
    background: lightblue;
    border: 1px solid rgb(14, 12, 12);
    margin-bottom: 10px;
    cursor: pointer;
    }
    .result-question {
    font-weight: bold;
    }
    .c-wrong {
    margin-left: 20px;
    color: #ff0000;
    }
    .c-correct {
    margin-left: 20px;
    color: green;
    }
    .last-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    margin-bottom: 25px;
    }
    .res-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
    }